body {
    color: maroon;
}



.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content li,
.content a {
    color: inherit;
}

.content a:hover {
    color: white; 
    background-color: maroon;
}

::selection {
    background-color: maroon;
    color: white;
}

::-moz-selection {
    background-color: maroon;
    color: white;
}

::-webkit-selection {
    background-color: maroon;
    color: white;
}

/* trying to coerce color to white for these two elements */
.chart-title::selection,
.axis-label::selection {
  background-color: maroon;
  color: white;
}

.columns {
    padding-top: 1rem;
}

.list-columns ul {
    columns: 4;
}

.axis-label {
    fill: maroon;
}

.chart-title {
    fill: maroon
}

.bar:hover {
    stroke-width: 1px;
}

.stacked-bar:hover {
    stroke-width: 1.5px;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: 184px;
    height: 48px;
    padding: 5px;
    font: 12px sans-serif;
    background: #f0f0f0;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }

.tooltipStacked {
  position: absolute;
  text-align: left;
  width: 184px;
  height: 36px;
  padding: 5px;
  font: 12px sans-serif;
  background: #f0f0f0;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.circlePackTooltip {
    position: absolute;
    text-align: left;
    width: 184px;
    height: 64px;
    padding: 5px;
    font: 12px sans-serif;
    background: #f0f0f0;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

button {
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #8b0000;

#navbar {
    color: maroon;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

#navbar a:hover {
    color: white; 
    background-color: maroon;
}

