body {
    color: maroon;
}
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content li,
.content a {
    color: inherit;
}

.content a:hover {
    color: white; 
    background-color: maroon;
}

::selection {
    background-color: maroon;
    color: white;
}

.columns {
    padding-top: 1rem;
}
.list-columns ul {
    columns: 4;
}

.axis-label {
    fill: maroon;
}

#navbar {
    color: maroon;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

#navbar a:hover {
    color: white; 
    background-color: maroon;
}

