body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
}

button {
  background-color: white;
  color: #ff9999;
  font-size: 2em;
  border: solid #ff9999 0.15em;
  padding: 0.5em;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #ff9999;
  color: white;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-family: serif;
  font-size: 1em;
}

section {
  padding: 2em 0;
}

.container {
  text-align: center;
}

#click-count {
  color: #ff9999;
  font-size: 8em;
  font-style: bold;
}